.page {
  width: 100%;
}
.about-page {
  //width: 100%;
  padding: 80px 10%;
  background: #000;
  opacity: 0.5;
  color: #fff;
  .title {
    text-align: center;
    font-size: 40px;
  }
  .conent-left {
    float: left;
    margin-top: 100px;
    width: 16%;
    border-radius: 50%;
    opacity: 1;
  }
  .conent-right {
    margin-top: 40px;
    width: 66%;
    float: left;
    text-align: center;
    h2 {
      line-height: 30px;
      margin-bottom: 30px;
      font-size: 26px;
    }
    p {
      line-height: 30px;
      font-size: 16px;
    }
  }
}


