.carousel-container {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.carousel {
  img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   opacity: 0;
  }
  
}

@-webkit-keyframes 'selected' {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.selected {
  -webkit-animation: 'selected' 6s ease 1;
}

