.page {
  width: 100%;
}
.message-page {
  padding: 80px 10%;
  background: #000;
  opacity: 0.5;
  color: #fff;
  .title {
    text-align: center;
    font-size: 40px;
  }
  .username,
  .email,
  .message {
    display: block;
    margin: 20px auto;
    padding: 5px;
    width: 500px;
  }
  .btn {
    display: block;
    margin: 20px auto;
    width: 80px;
    height: 50px;
    background: gray;
    border-radius: 5px;
    &:hover{
      background: cadetblue;
    }
  }
}