.svg {
  margin: 50px 100px;
  .draw {
    stroke-dasharray: 1310;
    stroke-dashoffset: 1310;
    fill: #161823;
    transition: fill 2s ease;
    animation: draw 6s ease 2s forwards;
  }
  .svgFill {
    fill: rgb(233, 241, 246);
  }
  @keyframes draw {
    to{
      stroke-dashoffset: 0;
    }
  }
}
